* {
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
}
#counter {
    text-align: center;
    color: bla;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btnContainer {
    text-align: center;
}

.Btn {
    border-radius: 25px 25px;
    padding : 10px 15px;
    margin: 40px 0px;
    border: 1px solid aqua;
    background-color: aqua;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.Btn:hover {
    background-color: antiquewhite;
}
